<!DOCTYPE html>
<html lang="en">

<head>
    <title>Conor and Scott's Angular Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        /* Style the topnav links */
        .topnav h2 {
            float: none;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Style the content */
        .content {
            background-color: #ddd;
            padding: 10px;
            /*height: 200px;
            /* Should be removed. Only for demonstration */
        }

        /* Style the footer */
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }
    </style>
</head>

<body>

    <div class="topnav">
        <h2>Conor and Scott's Angular Project</h2>
    </div>

    <div class="content">
        <h2>Please choose</h2>
        <input type='number' min='1' max='5' placeholder="number" [(ngModel)]='frmNumber' />
        <br>
        <select [(ngModel)]='whichCategory'>
            <option *ngFor='let item of choices'>{{item.cat}} </option>
        </select>
        <button (click)='handleClick()'>select user</button>

        <h2>Here are the results</h2>

        <!-- conditionally shows results -->
        <div *ngIf=' whichCategory=="people" '>Name: {{form.name}}</div>
        <div *ngIf=' whichCategory=="people" '>Height: {{form.height}}</div>

        <div *ngIf=' whichCategory=="planets" '>Name: {{form.name}}</div>
        <div *ngIf=' whichCategory=="planets" '>Population: {{form.population}}</div>

        <div *ngIf=' whichCategory=="vehicles" '>Name: {{form.name}}</div>
        <div *ngIf=' whichCategory=="vehicles" '>Model: {{form.model}}</div>

        <div *ngIf=' whichCategory=="species" '>Name: {{form.name}}</div>
        <div *ngIf=' whichCategory=="species" '>Designation: {{form.designation}}</div>

        <div *ngIf=' whichCategory=="starships" '>Name: {{form.name}}</div>
        <div *ngIf=' whichCategory=="starships" '>Model: {{form.model}}</div>


    </div>

</body>

</html>